html, body {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('logo3.png');
}

iframe {
  background-image: url('logo2.jpg');
  width: 100px;
  height: 150px;
}

.botui-app-container {
  margin-top: 70px;
  width: 500px;
  height: 618px;
}

.botui-container {
  background-image: url('logo.png');
}
.botui-message-content {
  color: #000000;
  background-color: #F5e5e5;
}

.botui-message-content.human {
  color: #000000;
  background-color: #4EC0A9;
}

.botui-actions-text-input {
  color: #F5e5e5;
  border-bottom: 3px solid #625F88;
  margin: 0;
}

.botui-actions-buttons-button {
  line-height: 3 !important;
  color: #000000;
  background-color: #4EC0A9;
}

.botui-message-content-link {
  color: #F1C40F;
}

.botui-messages-container {
  padding: 30px 0px;
}
